body{
  background-color: white;
}

.content{
  background-color: rgb(187, 175, 175);
  width: 40%;
  height: 100vh;
  margin-top: 2rem;
  margin-left: 4rem;
}


.navbar{
  background-color: black;
  color: white;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin: 1rem 4rem 1rem 4rem;
  
}
.navbar h2{
  font-size: 2.5rem;
  text-align: center;
}

.form-group {
  display: flex;
  margin-top: 2rem;
   color: black;
}

.form-group label{
  font-size: 1rem;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 2rem;
}

.form-group input{
  margin-left: 3rem;
  margin-top: 2.5rem;
  padding-right: 4rem;
}

.form-group button{
  margin-left: 5rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cancel button{
  margin-left: 5rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  margin-top: -1.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 13rem;
  float: right;
}


.output{
  background-color: rgb(187, 175, 175);
  color: black;
  font-size: 1rem;
  margin-top: -40.5rem;
  margin-left: 40rem;
  padding-left: 0rem;
  padding-right: 25rem;
  font-weight: bold;
  width: 15%;
  height: 100vh;
}

.output h2{
  padding-left: 12rem;
  font-size: 2rem;
  padding-top: 1rem;
}
.output p{
  padding-left: 1rem;
}



